*.jpg
*.docx
*.pptx
*.jpg
figures/
*Rhistory
/.Rproj.user/
*.png
*.tmp
*.mpk
*.tif
*.tif.ovr
*.tif.vat.cpg
*.tif.vat.dbf
*.pdf
*.xlsx
*.zip
*.tar
*.db
*.gpkg
*.RData
*.Rhistory
*eBird/
*.pdf
*.txt.gz
*.Rproj
*.csv